<%- layout("layouts/main.ejs")%>

<form action="/signin" method="post">
    <input type="email" name="email" placeholder="Insert Email">
    <input type="password" name="password" placeholder="Insert Password">

    <button type="submit">
        Sign In
    </button>
</form>